@{
    ViewBag.Title = "Future Value Calculator Inc.";
}
<div>
    <h1>About Us!</h1>
    <div>
        <p>Here at Future Value Calculator Inc. we hope to fulfill all of your retirement dreams.</p>
    </div>
    <img src="~/Images/retirement.jpg" />
</div>
