@{
    ViewBag.Title = "Future Value Calculator Customer Support";
}
<div>
    <h1>Contact Us!</h1>
    <div>
        <p>Future Value Calculator Customer Support</p>
        <p>Email: fvcalcsupport@nmc.edu</p>
        <p>Phone: (231)555-5555</p>
        <p>Location: United States</p>
    </div>
</div>
